<% if @actor.errors.any? %>
  <h2>The following errors prevented the actor from getting created</h2>
  <ul>
    <% @actor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end%>

<%= form_for [:admin, @actor] do |f| %>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </p>
  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', admin_actors_path %>
