<h1>Showing actor selected</h1>

<p>
  <strong>Last Name:</strong>
  <%= @actor.last_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @actor.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<%= link_to 'Back', admin_actors_path %>
