<h1>Showing play selected</h1>

<p>
  <strong>Title:</strong>
  <%= @play.title %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @play.synopsis %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @play.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @play.end_date %>
</p>

<%= link_to 'Back', admin_plays_path %>
